# ==================================================
# Auto detect text files and perform LF normalization
# ==================================================

* text=auto

# ==================================================
# Plain text
# ==================================================

*.cfg text
*.CFG text
*.txt text
*.TXT text

# ==================================================
# Images
# ==================================================

*.dds  binary
*.DDS  binary
*.half binary
*.HALF binary
*.raw  binary
*.RAW  binary

# ==================================================
# Ignore list
# ==================================================

.gitattributes export-ignore
.gitignore     export-ignore
LICENSE.md     export-ignore
README.md      export-ignore
