# ==================================================
# Ignore selected folders and file types from the git
# repository.
# ==================================================

Source/obj/*

*.db
*.DB
*.DS_Store
*.ini
*.INI
*.lnk
*.LNK
*.old
*.OLD
*.pdb
*.PDB
*.png
*.PNG
*.raw
*.RAW
*.userprefs
*.USERPREFS
