# ==================================================
# Ignore selected folders & file types from the git
# commit.
# ==================================================

Source/bin/*
Source/obj/*

*.db
*.DB
*.DS_Store
*.ini
*.INI
*.lnk
*.LNK
*.old
*.OLD
*.pdb
*.PDB
*.png
*.PNG
*.raw
*.RAW
*.userprefs
*.USERPREFS
