# ==================================================
# Ignore selected folders/files.
# ==================================================

Source/bin/*
Source/obj/*

*.db
*.DB
*.ini
*.INI
*.lnk
*.LNK
*.old
*.OLD
*.pdb
*.PDB
*.png
*.PNG
*.raw
*.RAW
*.userprefs
*.USERPREFS
